@import "bourbon/bourbon";
@import "neat/neat";

/* strange that clearfix is not in standard css*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* need a box-sizing rule in standard css */
* {box-sizing: border-box;}

@mixin vertical-align {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

$grey-border: 1px solid #ccc;

%module-background {
	background: white;
}

%module-border {
  border: $grey-border;
}

html, body {
	height: 100%;
}

body {
	background: #ddd;
	padding: 0;
	margin: 0;
  	font-style: 14px;
  	font-family: "museo-slab",serif;
}

.sidebar {
	position: fixed;
	width: 280px;
	top: 0;
	left: 0;
	background: #fff;
	padding: 10px 30px;
	height: 100%;
	nav a {
		display: block;
		line-height: 2;
		text-decoration: none;
		color: #333;
		position: relative;
		transition: 1s all ease;
		&:hover {
			color: #aaa;
			text-decoration: underline;
		}
	}

	h1 {
		font-family: "ff-enzo-web",sans-serif;
		font-size: 2em;
		font-weight: 100;

	}
}

.main-container {
	padding-left: 280px;
	width: 100%;
	h1 {
		font-family: "ff-enzo-web",sans-serif;
		font-size: 3em;
		font-weight: 100;
		margin-left:30px;

	}
	.index-container {
		background: #ccc;
		figure {
			float: left;
			background-color: #fff;
			figcaption {
				text-align:left;
				padding:5px 10px;
				width:400px;
				height: 100px;
				line-height: 1.3em;
				div {
					overflow:hidden;
					height: 80px;
				}

			}
		}
	}

}

/* demo styles */

