<!DOCTYPE html>
<html>
<head>
  <title>Workopolis Prototype Seed</title>
  <%= stylesheet_link_tag 'styles' %>
  <script type="text/javascript" src="//use.typekit.net/zld4tww.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src='http://Workopolis.com/assets/scripts/jquery-1.9.1.min.js' type='text/javascript'></script>
  <script src='http://Workopolis.com/assets/scripts/jquery-migrate-1.2.1.min.js' type='text/javascript'></script>
  <%= javascript_include_tag 'all' %>
</head>
<body>
  <header class='worko-header'>
    <h5>Kara Header</h5>
  </header>
  <aside class="sidebar">
  <h1>Kara-Anne Fraser</h1>
  <nav>
  <% 4.times do |number|%>
    <a href="#">Link <%= number + 1 %></a>
  <% end %>
  </nav>

  </aside>
  <section class="main-container cf">

    <%= yield %>
  </section>
  <footer>
    Workopolis Footer
  </footer>
</body>
</html> 