<!DOCTYPE html>
<html>
<head>
  <title>Workopolis Prototype Seed</title>
  <link href='/stylesheets/styles.css' rel='stylesheet' type='text/css'>
  <script src='http://Workopolis.com/assets/scripts/jquery-1.9.1.min.js' type='text/javascript'></script>
  <script src='http://Workopolis.com/assets/scripts/jquery-migrate-1.2.1.min.js' type='text/javascript'></script>
  <script src='/javascripts/all.js' type='text/javascript'></script>
</head>
<body>
  <header class='worko-header'>
    <h5>Workopolis Header</h5>
  </header>
  <section class="container cf">
    <%= yield %>
  </section>
  <footer>
    Workopolis Footer
  </footer>
</body>
</html> 