  <footer class="worko-footer">
    
   <section class="footer-container">
    <div class="footer-nav-container">
      <h3>About Workopolis</h3>
      <div class="footer-link">
        <ul>
          <li>Contact Us</li>
          <li>About Workopolis</li>
          <li>Advertise with Us</li>
          <li>Careers at Workopolis</li>
        </ul>
      </div>
<div class="footer-link">
  <ul>
    <li>Find a Job</li>
    <li>Post a Job</li>
    <li>Skilled Jobs Recruitment</li>
    <li>Recruitment Solutions</li>
 </ul>
</div>
<div class="footer-link">
  <ul>
    <li>Media</li>
    <li>Terms and Conditions</li>
    <li>Privacy</li>
    <li>Security</li>
    <li>Accessibility</li>
 </ul>
</div>
</div>
</section>
<section class="social-container">
<div class="social-box">
  <h3>Follow Workopolis</h3>
 <div class="social-links">
    <span class="icon-facebook"></span>
    <span class="icon-linkedin"></span>
    <span class="icon-twitter"></span>
    <span class="icon-google-plus"></span>
  </div>
</div>
</section>
 </footer>
