<div class="index-container cf">
	<header>
		<h1>Case Study</h1>
	</header>

	<% 10.times do %>
	<figure>
		<img src="http://placekitten.com/400/400">
		<figcaption><div><%= lorem.words rand(1..200) %></div></figcaption>
	</figure>
	<% end %>
</div>
