<header>
  <h5><%= lorem.sentence %></h5>
</header>

<% 10.times do %>
<div class="worko-box">
  <h5 class="worko-heading"><%= lorem.job_title %></h5>
  <p>
    <%= lorem.b2c_paragraph %>
  </p>
</div>
<% end %>
